---
import { getCollection, render } from 'astro:content';
import ArticleLayout from '../../layouts/ArticleLayout.astro';

export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project }
  }));
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<ArticleLayout
  title={project.data.title}
  description={project.data.description}
  date={project.data.date}
  tags={project.data.tags}
>
  <Content />
  {
    project.data.links.length > 0 && (
      <div class="actions">
        {project.data.links.map((link) => (
          <a class="button" href={link.href}>
            {link.label}
          </a>
        ))}
      </div>
    )
  }
</ArticleLayout>
